:root{
  --color-primary: #E5E5E5;
  --color-font: #94ADCF;
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;

  background-color:var(--color-primary) ;
}

